//---------------------------------------------------------------------------
//
// Name:        PCB CAM ProcessorApp.rc
// Author:      rado4ever
// Created:     2016-02-08 19:43:24
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
